@import '../../partials/variables';

.Shop {
  background-color: $off-white;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 5rem;
  padding-top: calc($header-offset + 3rem);

  @media screen and (max-width: 600px) {
    padding-top: calc($header-offset + 8rem);
  }
}