@import '../../partials/variables';

.Cart {

  &-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 400px;
    background-color: white;
    z-index: 2;

    &-close {
      background-color: inherit;
      border: none;
      margin: 1rem;
      cursor: pointer;
      & svg {
        height: 30px;
        color: black;
      }
    }

    & h2 {
      text-align: center;
      padding: 2rem;
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }

    &-list {
      max-height: 400px;
      overflow: auto;
      display: grid;
      grid-auto-rows: 160px;
      margin-bottom: 2rem;
    }

    &-total {
      display: block;
      text-align: center;
      font-size: 3rem;
    }

    &-checkout {
      display: block;
      background-color: $blue;
      border: none;
      height: 6rem;
      width: 40%;
      margin: 0 auto;
      margin-top: 4rem;
      font-size: 3rem;
      box-shadow: 3px 3px 5px rgba(0,0,0,.4);
      cursor: pointer;

      &:active {
        box-shadow: 1px 1px 3px rgba(0,0,0,.5);
      }
    }
  }
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0,0,0,.7);
  z-index: 1;
}